<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Monochrome Live : AMA with Rajnish Kumar</title>
</head>

<body yahoo="" style="margin: 0; padding: 0; min-width: 100%!important; background-color: #FFFFFF;">
    <table>
        <tbody>
            <tr>
                <td>
                    Hey
                    <%=info1.name%>,
                        <br/>
                        <br/> India is witnessing a sudden boom in travel startups for the past few years. A few contributory factors and, more importantly, the exponentially growing number of inbound and outbound travellers. We learn about new travel startups everyday and some of them really push the envelope of innovation - just like <a href="http://ixigo.com">ixigo.com</a>.
                        <br/>
                        <br/>For the season finale we have <a href="https://www.linkedin.com/in/rajnishkumar/">Rajnish Kumar</a> - co-Founder at <a href="http://ixigo.com">ixigo.com</a>, to answer all your questions.
                        <br/>
                        <br/>Whether you’re at home, office or even a pub, join the discussion on Wednesday, 14th February, 3 PM <span style="font-weight: 700;"><a href="https://www.addevent.com/event/Lq701416">(Add to Calendar)</a></span>.
                        <br/>
                        <br/>Since we have only 30 slots for each AMA, we will send you a confirmation by Tuesday EOD with further details. Hang in there!
                        <br/>
                        <br/>We’ll see you soon!
                        <br/>Team Monochrome
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>