<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Did you hear about the AMA that Eshaan is attending?</title>
</head>

<body yahoo="" style="margin: 0; padding: 0; min-width: 100%!important; background-color: #FFFFFF;">
    <table>
        <tbody>
            <tr>
                <td>
                    Hola  <%=info1.invite.name%>,

                    <br/><br/>Your friend  <%=info1.name%>, just gave us your email to show off his great taste in online events.
                    <br/><br/>
                    A-a-apparently they have registered for an AMA (Ask Me Anything) with <a href="https://www.linkedin.com/in/rajnishkumar/">Rajnish Kumar</a> - co-Founder at <a href="http://ixigo.com">ixigo.com</a>.
                    <br/><br/>
                    <b>When is it?</b> Wednesday, 21st February, 3 PM<br/><br/>
                    <b>So, What do I do?</b> Register yourself, obviously: <br/><br/>
                    <a href="https://monochrome.1thing.io/monochrome/ama/dawn_of_design/">https://monochrome.1thing.io/monochrome/ama/dawn_of_design/</a>.
                    <br/><br/>See you on the other side,<br/>Team Monochrome
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>
