<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Every Product’s Right Design Team</title>
    <style type="text/css">
    @import url('https://fonts.googleapis.com/css?family=Muli:300,400,700');
    .font_size_one {
        font-size: 24px;
    }

    .font_size_three {
        font-size: 15px;
        /*font-weight: 100;*/
    }

    @media only screen and (max-width: 480px) {
        .cta-btn {
            width:60% !important;
        }
        .mobile-margin {
            width:2% !important;
        }
        .hide-in-mobile {
            display: none !important;
        }
        .font_size_one {
            font-size: 20px !important;
        }

        .logo_header {
            height: 18px !important;
        }
        .space_after_logo {
            padding-top: 10px !important;
            padding-bottom: 10px !important;
        }
        table .column {
            width: 100%!important;
            min-width: 100%!important;
            text-align: center;
        }
        table .column img {
            max-height: 30% !important;
        }
        table .column2 {
            text-align: center;
            width: 100% !important;
            min-width: 100% !important;
        }
    }
    </style>
</head>

<body yahoo="" style="margin: 0; padding: 0; min-width: 100%!important; background-color: #f8f8f8;">
    <table align="center" cellpadding="0" cellspacing="0" border="0">
        <tr>
            <td style="height:30px;" width="1680px" align="center" valign="middle" bgcolor="#f8f8f8"></td>
        </tr>
        <tr>
            <td width="1680px" align="center" valign="middle" bgcolor="#f8f8f8">
                
                <table style="width: 96%; max-width: 600px; background-color: #FFFFFF; margin: 0 2% ;" class=" content-top-border" align="center" cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                        <tr>
                            <td style="width:10%;"></td>
                            <td align="left" style="text-align: left;"><img class="logo_header" style="height:22px; max-width: 100%; margin:70px 0;" src="https://s3.ap-south-1.amazonaws.com/emailers-img/logo.png" /></td>
                            <td align="right" style="text-align: right;" style="width:40%;">
                                <a class="hide-in-mobile" href="https://twitter.com/1THING_io" style="text-decoration: none; color: #0d65d8; font-size: 12px; font-family: 'Muli',Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif; font-weight: 400;">Twitter &bull;</a>
                                <a class="hide-in-mobile" href="https://medium.com/1thing-design" style="text-decoration: none; color: #0d65d8; font-size: 12px; font-family: 'Muli',Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif; font-weight: 400;">Medium &bull;</a>
                                <a class="hide-in-mobile" href="https://www.instagram.com/1thing.io/" style="text-decoration: none; color: #0d65d8; font-size: 12px; font-family: 'Muli',Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif; font-weight: 400;">Instagram</a>
                            </td>
                            <td style="width:10%;"></td>
                        </tr>
                    </tbody>
                </table>
                
                <table style="width: 96%; max-width: 600px; border-top-left-radius: 4px; border-top-right-radius: 4px; background-color: #ffffff; margin: 0 2%;" class="" align="center" cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                        
                        <tr>
                            <td style="width:10%;"></td>
                            <td class="font_size_three" style="font-size: 18px; color: #030303; font-family: 'Muli',Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;font-weight: 400; line-height: 1.6; letter-spacing: 0.4px;">
                                Hi <%=info1.name%>
                                <br/>
                                <br/>Hope you are good.<br/>
                                <br/>This is Varun Gandhi from 1THING. While we have talked about the strength of the Design Network we are building at 1THING but that’s not where we want it to end for you. We go an extra mile to form just the Right Design Team for you whose past experience, expertise, learnings & skillsets match the requirements of your product.
                                <br/>
                                <br/>‘At 1THING, every product is led by a product manager, designed by a S.UX & UI and consulted from time to time by an industry expert.'
                                <br/>
                                <br/> Every product is different from one another. Difference could be of the industry or market or the problem or users. Also, every individual designer has his own skillsets, likes & dislikes and his own areas of interests & expertise. So far, the way outsourcing works - a person just needs to qualify as a designer to work on any project. We want to change this with 1THING. Not every designer can design any product. Designers design the products they are interested in - they have expertise in - they have skill sets for.
                                <br/>
                                <br/> ‘At 1THING, we appreciate these differences and carefully put together a design team that’s right for your product.'
                                <br/>
                                <br/> With the assurance of picking your Right Design Team from Design Network at 1THING, you can peacefully do what you are best at - growing your company.
                                <br/>I look forward to working with you. :)
                            </td>
                            <td style="width:10%;"></td>
                        </tr>
                        <tr>
                            <td style="height: 40px;"></td>
                            <td style="height: 40px;"></td>
                            <td style="height: 40px;"></td>
                        </tr>
                        <tr>
                            <td style="width:10%;"></td>
                            <td class="font_size_three" style="font-size: 16px; color: #030303; font-family: 'Muli',Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;font-weight: 400; line-height: 1.6; letter-spacing: 0.4px;">
                                Varun Gandhi<br/>
                                CEO, <a style="color: #0d65d8" href="http://1thing.io">1THING</a>
                            </td>
                            <td style="width:10%;"></td>
                        </tr>
                    </tbody>
                </table>
                
                <table style="width: 96%; max-width: 600px; background-color: #ffffff; margin: 0 2%;" class=" no-bg" align="center" cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                        <tr>
                            <td style="height: 60px;"></td>
                            <td style="height: 60px;"></td>
                            <td style="height: 60px;"></td>
                        </tr>
                        <tr>
                            <td style="width:10%;"></td>
                            <td style="border-bottom: 1px solid #f0f0f0;">
                            </td>
                            <td style="width:10%;"></td>
                        </tr>
                        <tr>
                            <td style="height: 0px;"></td>
                            <td style="height: 0px;"></td>
                            <td style="height: 0px;"></td>
                        </tr>
                    </tbody>
                </table>
                <table style="width: 96%; max-width: 600px; background-color: #ffffff; margin: 0 2%;" class=" no-bg" align="center" cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                        <tr>
                            <td style="height: 32px;"></td>
                            <td style="height: 32px;"></td>
                            <td style="height: 32px;"></td>
                        </tr>
                        <tr>
                            <td style="width:10%;"></td>
                           <td align="center" style="text-align: center;" style="width:40%;">
                                <a href="https://twitter.com/1THING_io" style="text-decoration: none; color: #0d65d8; font-size: 12px; font-family: 'Muli',Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif; font-weight: 400;">Twitter &bull;</a>
                                <a href="https://medium.com/1thing-design" style="text-decoration: none; color: #0d65d8; font-size: 12px; font-family: 'Muli',Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif; font-weight: 400;">Medium &bull;</a>
                                <a href="https://www.instagram.com/1thing.io/" style="text-decoration: none; color: #0d65d8; font-size: 12px; font-family: 'Muli',Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif; font-weight: 400;">Instagram</a>
                            </td>
                            <td style="width:10%;"></td>
                        </tr>
                        <tr>
                            <td style="height: 60px;"></td>
                            <td style="height: 60px;"></td>
                            <td style="height: 60px;"></td>
                        </tr>
                    </tbody>
                </table>
                <table style="width: 96%; max-width: 600px; background-color: #ffffff; margin: 0 2%;" class=" no-bg" align="center" cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                        <tr>
                            <td style="width:2%;height:30px; "></td>
                            <td style="height:30px;text-align:center; color: #7F7F7F; font-family: 'Muli',Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif; font-weight: 400; font-size: 10px !important;">1THING Design & Innovation Private Limited · Investopad, Sector 32 · Gurgaon 122001 · India</td>
                            <td style="width:2%;height:30px;"></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>