<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><%=info1.name%>, Let’s dream big with 1THING</title>
</head>

<body yahoo="" style="margin: 0; padding: 0; min-width: 100%!important; background-color: #FFFFFF;">
    <table>
        <tbody>
            <tr>
                <td>
                    Hi <%=info1.name%>,
                    <br/>
                    <br/> Thanks for sharing information about your product.
                    <br/>
                    <br/> I am preparing your timeline with:
                    <br/> : The right design lead who will be the SPOC for all things design for your product.
                    <br/> : Your WorkSpace for you to collaborate with your design team in real-time.
                    <br/> : A curated list of projects for you to get started on.
                    <br/>
                    <br/> <a href="https://workspace.1thing.io/pc_name/timeline">Access your timeline here</a> to kick-start your product journey with 1THING.
                    <br/>
                    <br/> -
                    <br/> Mimi from 1THING
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>
