<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><%=info1.name%>, Welcome to 1THING</title>
</head>

<body yahoo="" style="margin: 0; padding: 0; min-width: 100%!important; background-color: #FFFFFF;">
    <table>
        <tbody>
            <tr>
                <td>
                Hi <%=info1.name%>,<br/><br/>
                Thanks for taking the first step towards hiring your design team with 1THING.<br/><br/>
                I am Mimi, your single point of contact from 1THING.<br/>
                My role is to ensure that you get the best out of 1THING.<br/><br/>
                -<br/>
                Mimi from 1THING
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>
