<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Welcome to clients</title>
    <style type="text/css">
    
    @import url('https://fonts.googleapis.com/css?family=Muli:300,400,700');
    .font_size_one {
        font-size: 20px;
    }
    
    .font_size_three {
        font-size: 15px;
        /*font-weight: 100;*/
    }
    @font-face {    
        font-family: Ek Mukta ExtraLight;    
        src: url(fonts/EkMukta-ExtraLight.ttf);
      } 
      @font-face {    
        font-family: Ek Mukta Light;    
        src: url(fonts/EkMukta-Light.ttf);
      }   
      @font-face {    
        font-family: Ek Mukta Bold;    
        src: url(fonts/EkMukta-Bold.ttf);
      } 
      @font-face {    
        font-family: Ek Mukta ExtraBold;    
        src: url(fonts/EkMukta-ExtraBold.ttf);
      } 
      @font-face {    
        font-family: Ek Mukta Medium;    
        src: url(fonts/EkMukta-Medium.ttf);
      } 
      @font-face {    
        font-family: Ek Mukta Regular;    
        src: url(fonts/EkMukta-Regular.ttf);
      } 
      @font-face {    
        font-family: Ek Mukta SemiBold;    
        src: url(fonts/EkMukta-SemiBold.ttf);
      } 
      body{   
        font-family: Ek Mukta Regular;  
      }



    
     .outerdiv{
      width: 100%;
      height: auto;
      background-color: #ffffff;
      border: 1px solid #7f7f7f;
      padding: 54px 66px 8px 66px;
    }
    .textData{
      font-size: 18px;
      text-align: left;
      letter-spacing: 0.5px;
      color:#030303;
      font-family: Ek Mukta Light;
      line-height: 1.67;
      /*margin-bottom: 30px;*/
    }
    .blueButton{
      width: 251px;
      height: 48px;
      border-radius: 4px;
      background-color: #0d65d8;
      border: solid 2px #0d65d8;
      font-family: Ek Mukta Bold;
      font-size: 14px;
      letter-spacing: 1.8px;
      text-align: center;
      color: #ffffff;
      text-transform: uppercase;
    }
    .team_background{
      width:84%; 
      height: 200px; 
      background-image: url('./images/team_background.jpg');
      background-repeat: no-repeat;
      background-size: cover;
    }
    .social li{
      display: inline;
      font-size: 12px;
      line-height: 1.17;
      color: #0d65d8;
      margin: 0 7px 0 3px;
    }
    .footer{
      /*margin-top:60px;*/
      border-top: 1px solid #f0f0f0;
      text-align: center;
      /*padding: 32px 0px 81px 0px;*/
    }
    .footerData{
      font-family: EkMukta;
      font-size: 10px;
      text-align: center;
      color: #7f7f7f;
    }
    .menuDiv{
      padding-right: 0;
    }
    .headingFont{
      font-size: 24px;
    }
    .tdWidth{
      width: 8%;
    }
    @media only screen and (max-width: 920px){
    .social{
      padding: 0;
      margin-top: 19px;
    }
    .menuDiv{
    padding: 0;
    }
    .outerdiv{
      border:none;
    }
    .headingFont{
      font-size: 20px;
    }
  }

    </style>
</head>

<body yahoo="" style="margin: 0; padding: 0; min-width: 100%!important; background-color: #f8f8f8;">
    <table align="center" cellpadding="0" cellspacing="0" border="0">
        <tr>
            <td style="height:30px;" width="1680px" align="center" valign="middle" bgcolor="#f8f8f8"></td>
        </tr>
        <tr>
            <td width="1680px" align="center" valign="middle" bgcolor="#f8f8f8">
                
                <table style="width: 96%; max-width: 600px; background-color: #ffffff; margin: 0 2%;
                border-right: 1px solid #7F7F7F;border-left: 1px solid #7F7F7F; border-top: 1px solid #7F7F7F" class=" content-top-border" align="center" cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                        <tr>
                            <td style="height: 58px;"></td>
                            <td style="height: 58px;"></td>
                            <td style="height: 58px;"></td>
                        </tr>
                        <tr>
                            <td class="tdWidth"></td>
                            <td align="left"><img class="logo_header" style="height:22px; max-width: 100%;" src="https://s3.ap-south-1.amazonaws.com/emailers-img/logo.png" /></td>
                            <td align="right" style="width:50%;">
                                <ul class="social">
                                  <li>Twitter</li>
                                  <li>Medium</li>
                                  <li>Instagram</li>
                                </ul>
                            </td>
                            <td class="tdWidth"></td>
                        </tr>
                        <tr>
                            <td style="height: 30px;"></td>
                            <td style="height: 30px;"></td>
                            <td style="height: 30px;"></td>
                        </tr>
                    </tbody>
                </table>
                
                <table style="width: 96%; max-width: 600px; background-color: #ffffff; margin: 0 2%;
                border-right: 1px solid #7F7F7F;border-left: 1px solid #7F7F7F;" class=" content-top-border" align="center" cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                        <tr>
                            <td style="height: 24px;"></td>
                            <td style="height: 24px;"></td>
                            <td style="height: 24px;"></td>
                        </tr>
                        
                        <tr>
                            <td class="tdWidth"></td>
                            <td align="left" class="textData headingFont" style=" margin-bottom: 10px; line-height: 2">
                                Welcome to 1THING Network.
                            </td>
                            <td class="tdWidth"></td>
                        </tr>
                        <tr>
                            <td style="height: 12px;"></td>
                            <td style="height: 12px;"></td>
                            <td style="height: 12px;"></td>
                        </tr>
                        <tr>
                            <td class="tdWidth"></td>
                            <td class="textData">Hey <%=info1.name%>!</td>
                            <td class="tdWidth"></td>
                        </tr>
                        <tr>
                            <td class="tdWidth"></td>
                            <td class="textData">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                            </td>
                            <td class="tdWidth"></td>
                        </tr>
                        <tr>
                            <td style="height: 40px;"></td>
                            <td style="height: 40px;"></td>
                            <td style="height: 40px;"></td>
                        </tr>
                        <tr>
                            <td class="tdWidth"></td>
                            <td class="team_background"></td>
                            <td class="tdWidth"></td>
                        </tr>
                        <tr>
                            <td style="height: 24px;"></td>
                            <td style="height: 24px;"></td>
                            <td style="height: 24px;"></td>
                        </tr>
                        <tr>
                            <td class="tdWidth"></td>
                            <td class="textData">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry
                            </td>
                            <td class="tdWidth"></td>
                        </tr>
                        <tr>
                            <td style="height: 16px;"></td>
                            <td style="height: 16px;"></td>
                            <td style="height: 16px;"></td>
                        </tr>
                        <tr>
                            <td class="tdWidth"></td>
                            <td>
                                <ul style="font-size: 85%;">
                                 <li>
                                  <span class="textData">Contrary to popular belief, Lorem Ipsum is not simply random text.</span> 
                                </li>
                                <li>
                                  <span class="textData">It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</span>
                                </li>
                                <li>
                                  <span class="textData">Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words</span>        
                                </li>
                              </ul>
                            </td>
                            <td class="tdWidth"></td>
                        </tr>
                        <tr>
                            <td style="height: 38px;"></td>
                            <td style="height: 38px;"></td>
                            <td style="height: 38px;"></td>
                        </tr>
                        <tr>
                            <td class="tdWidth"></td>
                            <td class="textData" style="text-align: center;">
                                <button class="blueButton">Here is your workspace</button>
                            </td>
                            <td class="tdWidth"></td>
                        </tr>
                        <tr>
                            <td style="height: 38px;"></td>
                            <td style="height: 38px;"></td>
                            <td style="height: 38px;"></td>
                        </tr>
                        <tr>
                            <td class="tdWidth"></td>
                            <td class="textData">
                                Lorem Ipsum is  dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry
                            </td>
                            <td class="tdWidth"></td>
                        </tr>
                        <tr>
                            <td style="height: 40px;"></td>
                            <td style="height: 40px;"></td>
                            <td style="height: 40px;"></td>
                        </tr>
                    </tbody>
                </table>
                
                <table style="width: 96%; max-width: 600px; background-color: #ffffff; margin: 0 2%;
                border-right: 1px solid #7F7F7F;border-left: 1px solid #7F7F7F;" class=" content-top-border" align="center" cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                            
                        <tr>
                            <td class="tdWidth"></td>
                            <td style="width:5%;">
                                <img src="./images/logo.png" style="width: 40px; height: 40px; border-radius: 50%; border: 1px solid #fff" alt="">
                            </td>
                            <td class="textData" style="padding-left:10px;font-size: 16px;padding-top: 7px;line-height: 1.2">Team 1THING<br/>
                                <span style="color:#0d65d8">1thing.io</span>
                            </td>
                            <td class="tdWidth"></td>
                        </tr>
                        <tr>
                            <td style="height: 60px;"></td>
                            <td style="height: 60px;"></td>
                            <td style="height: 60px;"></td>
                            <td style="height: 60px;"></td>
                        </tr>
                    </tbody>
                </table>
                <table style="width: 96%; max-width: 600px; background-color: #ffffff; margin: 0 2%;
                border-right: 1px solid #7F7F7F;border-left: 1px solid #7F7F7F;border-bottom: 1px solid #7F7F7F;" class=" content-top-border" align="center" cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                        <tr>
                            <td style="height: 5px;" class="tdWidth"></td>
                            <td style="height: 5px;width:84%;border-bottom:1px solid #f0f0f0"></td>
                            <td style="height: 5px;" class="tdWidth"></td>
                        </tr>
                        <tr>
                            <td class="tdWidth"></td>
                            <td class="footer">
                                <ul class="social">
                                  <li>Twitter</li>
                                  <li>Medium</li>
                                  <li>Instagram</li>
                                </ul>
                            </td>
                            <td class="tdWidth"></td>
                        </tr>
                        <tr>
                            <td style="height: 60px;"></td>
                            <td style="height: 60px;"></td>
                            <td style="height: 60px;"></td>
                        </tr>
                        <tr>
                            <td class="tdWidth"></td>
                            <td class="footerData">
                                  1THING Design & Innovation Private Limited · Investopad, Sector 32 · Gurgaon 122001 · India
                            </td>
                            <td class="tdWidth"></td>
                        </tr>
                        <tr>
                            <td style="height: 8px;"></td>
                            <td style="height: 8px;"></td>
                            <td style="height: 8px;"></td>
                        </tr>
                    </tbody>
                </table>
                    
</body>

</html>